#reviews-link:hover, .disabled {
    cursor: not-allowed !important; 
}

* {
    color: auto;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    
  }
  
  html {
    height: 100vh; /*Optional*/
    width: 100vw; /*Optional*/
    /* font-family: font, fallback; */
   scroll-behavior: smooth;
  }

  body {
    background-color: aquamarine;
  }

  .card-img-top {
    height: 250px;
    width: 60%;
  }
    
 .carousel-control-prev, .carousel-control-next {
    background-color: aquamarine; /* The buttons colors cannot be changed because they are images :(*/
    }

